@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");




body {
  // background-color: #f4f4f4;
  background: rgb(209,46,201);
  background: linear-gradient(225deg, rgba(209,46,201,1) 0%, rgba(253,29,80,1) 50%, rgba(240,160,48,1) 100%);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  font-family: Montserrat, sans-serif;
  position: relative;
  
}

ul, ol, li {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

h2 {
  margin: 0 0 10px 0;
}

input[type="text"], input[type="number"] {
  width: 50px;
  min-height: 30px;
  border-radius: 5px;
  border: 0;
  box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0 10px;
}

.teamname[type="text"] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.card:nth-of-type(n + 2) {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
}

.card-wrap {
  width: 90%;
  max-width: 800px;
  min-height: 100px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  // z-index: 2;
}

.team-card {
  max-width: 400px;
}

.banner {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  background-image: url(https://static.gamespot.com/uploads/original/1179/11799911/3334231-rl.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  &--team {
    max-width: 400px;
    height: 100px;
    font-size: 20px;
    }
  &:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px 10px 0 0;
    z-index: 1;
  }
  h1  {
    text-align: center;
    margin: 0;
    font-size: 80px;
    color: white;
    z-index: 2;
  }
}

.team-maker-wrapper {
  // margin-top: 100px;
}

.team-maker {
  padding: 40px;
}

.qualify {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  position: relative;
  h2 {
    grid-column: 1 / 3;
    text-align: center;
  }
}

.round {
  &:first-child {
  display: none;
}
}

.team-position {
  font-weight: 600;
}

.round,
.team-position {
  background-color: #f8f8f8;
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);

  &.color-1 {
    color: #C62828;
  }

  &.color-2 {
    color: #6A1B9A;
  }

  &.color-3 {
    color: #0D47A1;
  }

  &.color-4 {
    color: #1B5E20;
  }

  &.color-5 {
    color: #F57F17;
  }
  .team-name {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    text-transform: capitalize;
  }
  .team-b {
    text-align: right;
  }
}

.points-wrap {
  position: relative;
}

ol {
  counter-reset: myCounter;
}

.points {
  position: sticky;
  position: -webkit-sticky;
  top: 20px;

  .team-position {
    counter-increment: myCounter;
    padding: 0;
  }
  .team-pos {
    background-color: #b2dfdb;
    color: #4db6ac;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    border-radius: 5px 0 0 5px;
    &:after {
      content: counter(myCounter);
    }
  }
  .team-pts {
    background-color: #26a69a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 40px;
    border-radius: 0 5px 5px 0;
  }

  .team-name {
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
  }
}

.finals {
  margin-top: 40px;
}

.final-rounds {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 0 auto;
  h2 {
    grid-column: 1 / 3;
    text-align: center;
    margin: unset;
  }
}

.winner {
  color: #26a69a;
}

.loser {
  color: #d32f2f;
}

.draw {
  color: #ffb300;
}

// Radio Styles
.radio-button {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;

  label span {
    margin-left: 50px;
  }  

  input[type="radio"] {
    display: none;
  }

  label:before {
    width: 40px;
    height: 40px;
    content: "";
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color: green;
    position: absolute;
    bottom: 2px;
    transition: all ease-in-out 0.2s;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  }

  .color-1, #color-1-label:before {
    background-color: #C62828;
    fill: #C62828;
  }
  .color-2, #color-2-label:before {
    background-color: #6A1B9A;
    fill: #6A1B9A;
  }
  .color-3, #color-3-label:before {
    background-color: #0D47A1;
    fill: #0D47A1;
  }
  .color-4, #color-4-label:before {
    background-color: #1B5E20;
    fill: #1B5E20;
  }
  .color-5, #color-5-label:before {
    background-color: #F57F17;
    fill: #F57F17;
  }

  input[type="radio"]:checked + label:before {
    border: 0px solid #1976d2;
  }
  input[type="radio"]:disabled + label:before {
    border: 2px solid #fff;
    background-color: gray !important;
  }
}

//success

.team-maker-success {
  text-align: center;
}

.icon__success {
  width: 80%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.color-1, #color-1-label:before {
  fill: #C62828;
}
.color-2, #color-2-label:before {
  fill: #6A1B9A;
}
.color-3, #color-3-label:before {
  fill: #0D47A1;
}
.color-4, #color-4-label:before {
  fill: #1B5E20;
}
.color-5, #color-5-label:before {
  fill: #F57F17;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// Next Button

.button-right {
  float: right;
  justify-self: right;
  grid-column: 1 / 3;
}

.nextbutton {
  position: relative;
  width: 60px;
  height: 40px;
  border: 0;
  background: none;
  &:focus {
    outline: 0;
  }
  &:after {
    padding:14px 10px;
  background: #fd1d50;
  border-radius: 5px;
  border: 0;
  color: #fff;
  position: absolute;
    right: 0;
    bottom: 0;
  width: 60px;
  height: 40px;
    box-sizing: border-box;
  z-index: 3;
   display: block;
   content: 'Next';
   
  }
  &:before {
    background-color: #d12ec9;
    position: absolute;
    left: 0;
    top: 0;
    width: 64px;
    height: 44px;
    display: block;
    content: '';
    z-index: 2;
    box-sizing: border-box;
  border-radius: 5px 10px;
    border-right: 5px solid #c40f38;
    border-bottom: 5px solid #cb284d;
  }
  &--newteam:after {
    content: '+ New';
    }
    &--start:after {
      content: 'Start';
    }
  &:active {
    &:after {
      bottom: -2px;
      right: -2px;
    }
    &:before {
      width: 62px;
      height: 42px;
      top: 2px;
      left: 2px;
    }
  }
}

.disabled {
  filter: saturate(0.1) opacity(0.3)
}

//Card in view
.card-in {
  right: 0;
  left: 0;
  margin: auto;
}

.card-out {
  right: 100%;
  left: 0;
  margin: auto;
}

.hidden {
  display: none;
}

// Tell small screens to fuck off

@media all and (max-width:850px) {
  body * {
    display: none !important;
  }
  body {
    background-image: url('https://media.makeameme.org/created/what-is-this-mivafc.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }
  .mobile {
    display: block;
    text-align: center;
    color: white;
    font-size: 1.5em;
  }
}