@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
body {
  background: #d12ec9;
  background: linear-gradient(225deg, #d12ec9 0%, #fd1d50 50%, #f0a030 100%);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  font-family: Montserrat, sans-serif;
  position: relative;
}

ul, ol, li {
  list-style-type: none;
  margin: unset;
  padding: unset;
}

h2 {
  margin: 0 0 10px 0;
}

input[type="text"], input[type="number"] {
  width: 50px;
  min-height: 30px;
  border-radius: 5px;
  border: 0;
  -webkit-box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0 10px;
}

.teamname[type="text"] {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
}

.card:nth-of-type(n + 2) {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
}

.card-wrap {
  width: 90%;
  max-width: 800px;
  min-height: 100px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.team-card {
  max-width: 400px;
}

.banner {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blue;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
  background-image: url(https://static.gamespot.com/uploads/original/1179/11799911/3334231-rl.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner--team {
  max-width: 400px;
  height: 100px;
  font-size: 20px;
}

.banner:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px 10px 0 0;
  z-index: 1;
}

.banner h1 {
  text-align: center;
  margin: 0;
  font-size: 80px;
  color: white;
  z-index: 2;
}

.team-maker {
  padding: 40px;
}

.qualify {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 40px;
  position: relative;
}

.qualify h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  text-align: center;
}

.round:first-child {
  display: none;
}

.team-position {
  font-weight: 600;
}

.round,
.team-position {
  background-color: #f8f8f8;
  width: 100%;
  max-width: 500px;
  height: 50px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.round.color-1,
.team-position.color-1 {
  color: #C62828;
}

.round.color-2,
.team-position.color-2 {
  color: #6A1B9A;
}

.round.color-3,
.team-position.color-3 {
  color: #0D47A1;
}

.round.color-4,
.team-position.color-4 {
  color: #1B5E20;
}

.round.color-5,
.team-position.color-5 {
  color: #F57F17;
}

.round .team-name,
.team-position .team-name {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  text-transform: capitalize;
}

.round .team-b,
.team-position .team-b {
  text-align: right;
}

.points-wrap {
  position: relative;
}

ol {
  counter-reset: myCounter;
}

.points {
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
}

.points .team-position {
  counter-increment: myCounter;
  padding: 0;
}

.points .team-pos {
  background-color: #b2dfdb;
  color: #4db6ac;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 40px;
  border-radius: 5px 0 0 5px;
}

.points .team-pos:after {
  content: counter(myCounter);
}

.points .team-pts {
  background-color: #26a69a;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 40px;
  border-radius: 0 5px 5px 0;
}

.points .team-name {
  margin: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-overflow: ellipsis;
}

.finals {
  margin-top: 40px;
}

.final-rounds {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin: 0 auto;
}

.final-rounds h2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  text-align: center;
  margin: unset;
}

.winner {
  color: #26a69a;
}

.loser {
  color: #d32f2f;
}

.draw {
  color: #ffb300;
}

.radio-button {
  position: relative;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

.radio-button label span {
  margin-left: 50px;
}

.radio-button input[type="radio"] {
  display: none;
}

.radio-button label:before {
  width: 40px;
  height: 40px;
  content: "";
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: green;
  position: absolute;
  bottom: 2px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

.radio-button .color-1, .radio-button #color-1-label:before {
  background-color: #C62828;
  fill: #C62828;
}

.radio-button .color-2, .radio-button #color-2-label:before {
  background-color: #6A1B9A;
  fill: #6A1B9A;
}

.radio-button .color-3, .radio-button #color-3-label:before {
  background-color: #0D47A1;
  fill: #0D47A1;
}

.radio-button .color-4, .radio-button #color-4-label:before {
  background-color: #1B5E20;
  fill: #1B5E20;
}

.radio-button .color-5, .radio-button #color-5-label:before {
  background-color: #F57F17;
  fill: #F57F17;
}

.radio-button input[type="radio"]:checked + label:before {
  border: 0px solid #1976d2;
}

.radio-button input[type="radio"]:disabled + label:before {
  border: 2px solid #fff;
  background-color: gray !important;
}

.team-maker-success {
  text-align: center;
}

.icon__success {
  width: 80%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.color-1, #color-1-label:before {
  fill: #C62828;
}

.color-2, #color-2-label:before {
  fill: #6A1B9A;
}

.color-3, #color-3-label:before {
  fill: #0D47A1;
}

.color-4, #color-4-label:before {
  fill: #1B5E20;
}

.color-5, #color-5-label:before {
  fill: #F57F17;
}

.actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button-right {
  float: right;
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.nextbutton {
  position: relative;
  width: 60px;
  height: 40px;
  border: 0;
  background: none;
}

.nextbutton:focus {
  outline: 0;
}

.nextbutton:after {
  padding: 14px 10px;
  background: #fd1d50;
  border-radius: 5px;
  border: 0;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  display: block;
  content: 'Next';
}

.nextbutton:before {
  background-color: #d12ec9;
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 44px;
  display: block;
  content: '';
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px 10px;
  border-right: 5px solid #c40f38;
  border-bottom: 5px solid #cb284d;
}

.nextbutton--newteam:after {
  content: '+ New';
}

.nextbutton--start:after {
  content: 'Start';
}

.nextbutton:active:after {
  bottom: -2px;
  right: -2px;
}

.nextbutton:active:before {
  width: 62px;
  height: 42px;
  top: 2px;
  left: 2px;
}

.disabled {
  -webkit-filter: saturate(0.1) opacity(0.3);
          filter: saturate(0.1) opacity(0.3);
}

.card-in {
  right: 0;
  left: 0;
  margin: auto;
}

.card-out {
  right: 100%;
  left: 0;
  margin: auto;
}

.hidden {
  display: none;
}

@media all and (max-width: 850px) {
  body * {
    display: none !important;
  }
  body {
    background-image: url("https://media.makeameme.org/created/what-is-this-mivafc.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
  }
  .mobile {
    display: block;
    text-align: center;
    color: white;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=styles.css.map */